<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- These 3 meta tags MUST come first -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- These 3 meta tags MUST come first -->

        <title>hustle.co</title>
        <script src="https://use.fontawesome.com/189d5ec9db.js"></script>
        <!-- Bootstrap CSS and JS -->
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="{{ url_for('static', filename='bootstrap/js/html5shiv.min.js') }}"></script>
            <script src="{{ url_for('static', filename='bootstrap/js/respond.min.js') }}"></script>
        <![endif]-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,900i|Raleway:200,500|Roboto" rel="stylesheet">
        <!-- Application specific CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
container
    </head>
    <body>
        {% block body %}
        <div id="header-div" class="clearfix with-margins">
            <div class="pull-left"><a href="{{ url_for('home_page') }}"><span class="header-title">{{ user_manager.app_name }}</span></a></div>
            <div id="menu" class="pull-right">
              <a href="{{ url_for('home_page') }}"><i class="fa fa-home" aria-hidden="true"></i></a>
              &nbsp; | &nbsp; <a href="{{ url_for('user_page') }}"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
              <!-- &nbsp; | &nbsp; <a href="{{ url_for('admin_page') }}">Admin</a> -->
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('user_profile_page') }}">{{ current_user.first_name or current_user.user_auth.username }}</a>
                    &nbsp; | &nbsp;
                    <a href="{{ url_for('user.logout') }}"> Sign out</a>
                {% else %}
                  &nbsp; | <a href="{{ url_for('user.login') }}"> Sign in</a>
                {% endif %}
            </div>
        </div>
        <div class="with-margins">

        </div>
        <div class="site-wrapper">

          <div class="site-wrapper-inner">

            <div class="cover-container">
        <!-- Application specific HTML -->



        <div id="main-div">
        {% block pre_content %}{% endblock %}

        {# One-time system messages called Flash messages #}
        {% block flash_messages %}
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category=='error' %}
                            {% set category='danger' %}
                        {% endif %}
                        <div class="alert alert-{{category}}">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}
            {%- endwith %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block post_content %}{% endblock %}
        </div>

        <br/>


        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Optional Google Analytics: change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
        -->
      </div></div></div>
      <div id="footer-div" class="clearfix with-margins">
          <div class="pull-left">{{ user_manager.app_name }} v1.0</div>
          <div class="pull-right">&copy; 2017 Discovery Group</div>
      </div>
        {% endblock %}
    </body>
</html>
