{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

<div class="inner cover">
  <div id="tron">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Being an independent artist can be hard. </p>
  <p class="lead">We're creating the best on-demand management service the world has ever seen. </p>
  <p class="lead"></p>
  <p class="lead">
    <a href="{{ url_for('user.register') }}" style="margin: 2em" class="btn btn-lg btn-warning">How can we help?</a>
    <!-- <a href="#" class="btn btn-lg btn-primary">MANAGEMENT</a> -->
  </p>

<!-- <p>This page is accessible to any user (signed in or not)</p> -->

{% if not current_user.is_authenticated %}
<!-- <p>
To view the User page, you must
<a href="{{ url_for('user.login') }}">Sign in</a> or
<a href="{{ url_for('user.register') }}">Register</a>.
</p> -->
{% endif %}

<!-- <p>
    Test users:<br/>
    - user@example.com / Password1<br/>
    - admin@example.com / Password1
</p> -->
</div></div>
{% endblock %}
