{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<div class="content">
<h1>Hi {{ user.first_name }}!</h1>

<p>This page is accessible to authenticated user (users that have signed in).</p>
</div>
{% endblock %}
