{% extends "layout.html" %}


{% block pre_content %}
<div class="container">
    <div class="row">
        <div class="content">
{% endblock %}


{% block post_content %}
        </div>
    </div>
</div>
{% endblock %}
