/**** element styles ****/
hr { border-color: #cccccc; margin: 0px; }

/**** header, main and footer divs ****/
.header-title { font-size: 30px; }

/**** class-based style modifiers ****/

/*.no-margins { margin: 0px; }



.col-centered { float: none; margin: 0 auto; }

body {
  background: #000;
  background:url('music_bg.jpg');
}*/

.with-margins { width: 100% }

.col-xs-6 {
    width: inherit;
}

#menu {
  margin-top: .78em;
}

.pull-left, .pull-right {
  padding: .5em;
}

#main-div {
  margin: 0 auto;
  margin-top: 3em;
  width:100%;

  opacity: 1;
  padding: 3em;
  z-index: 100;
}

#footer-div {
  background: #080808;
  opacity: 1;
}

#header-div {
  background: #080808;
  opacity: 1;
  position: fixed;
  top: 0;
  z-index: 100;
}

#tron {
    background: #080808;
  text-align: center;
  padding: 2em;
}


textarea {
  width: 60%;
  height: 60%; 
}

.btn {
  padding: 2em;
  /*width: 16em;*/
  border-radius: 0;
}

.container {
  width: 100%;
  margin: 0 auto;

}

#register {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 2em;
  background: #080808;
  height: 800px;
}


form  {
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  width: 60%;
  margin: 0 auto;
  margin-top: 3em;
}

input[type='submit'] {
  float: right;
  background:darkorange;
  border: 0;
  width: 10em;
  font-size: 12pt;
  margin: 5em;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

p.lead {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.site-wrapper {
  background: #000;
  opacity: .8;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #000;

  background-position: 0 0;
  background-blend-mode: darken;
  font-family:'Raleway';
}
body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);

}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background:url('music_bg.jpg');
  background-size:auto;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}



/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  /*.cover-container {
    width: 42rem;
  }*/
}
